{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "env": {
    "node": true
  },
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "extends": [
    "plugin:shopify/esnext",
    "prettier"
  ],
  "rules": {
    "no-console": 1,
    "prettier/prettier": 2
  }
}